#mousetrails {
    position: fixed;
    background-color: rgba(9, 255, 255, 0.02);
    width: 100vw;
    height: 100vh;
    z-index: 10;
    mix-blend-mode: blend;
    opacity: 0.4;
}
html{

cursor: url('https://cdn.discordapp.com/attachments/740939397045682270/1000881114405158942/22becce14efa74bc6c83bec78f9d9b1e-pixel-hand-cursor-icon_1.png'), auto;
}